<div id="header">
  <h1><%=@merchant.name%> discount list</h1>
  <%= button_to "Create Discount", new_merchant_discount_path(@merchant.id), method: :get %>
</div>

<table id="discount-list">
  <thead>
    <tr>
      <th>Discount ID</th>
      <th>Percentage</th>
      <th>Threshold</th>
      <th>Remove Discount</th>
    </tr>
  </thead>
  <tbody>
    <% @merchant.discounts.each do |discount| %>
      <tr id="discount_<%= discount.id %>">
        <td><%= link_to "##{discount.id}", merchant_discount_path(@merchant.id, discount.id) %></td>
        <td><%= "#{discount.percent}%" %></td>
        <td><%= discount.threshold %></td>
        <td><%= button_to "Delete Discount", merchant_discount_path(@merchant.id, discount.id), method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>